<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgjRkv6xkaewWQN3kqc2wEwguX4-wlfe0</string>
	<key>GCM_SENDER_ID</key>
	<string>597775918003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-6a570</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-6a570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597775918003:ios:c66a8a559a47d4cbba61c6</string>
</dict>
</plist>